main {
  padding: 30px 20px 30px 20px;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0 20px 0;
}

.item-list_img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list_img img {
  width: 50px;
}

.item-list_info {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.item-list_info div {
  margin-top: 10px;
}

.item-list_info-meta {
  font-size: small;
  color: rgba(0, 0, 0, 0.3);
}

.item-list_info-price {
  font-weight: bold;
}

.wirt-btn {
  background-color: var(--button-primary);
  color: white;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  border-radius: 25px;
  position: fixed;
  bottom: 120px;
  right: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.wirt-btn:hover {
  background-color: var(--button-hover);
}
